@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: #DDD;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.sign-up-form{
  width: 650px;
  height: 500px;
  margin: 40px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #37b9f1;
  background: #f2f5f5;
  border-radius: 25px;
  padding: 10px;
  border: 1px solid #37b9f1;
  font-weight: 300px;
  background:url(../img/images/bg-img.jpeg) ;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

h1 {
  margin: 35px auto;
  font-weight: 300;
  font-size: 28px;
}
.form-input{
  display: block;
  box-sizing: border-box;
  margin: 20px auto;
  padding: 4px auto;
  width: 420px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  transition: 0.2s ease;
  background: transparent;
    border: none;
    border-bottom: 2px solid #37b9f1;
}

.form-input:focus{
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}
.sign-up-button{
  width: 120px;
  padding: 7px;
  margin: 10px auto;
  background-color: tomato;
  border: none;
  outline: none;
  border-radius: 25px;
  font-family: 'Josefin Sans', sans-serif;
  color: #eee;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
}
.sign-up-button:hover{
  color : #37b9f1;
  opacity: 0.8;
  box-shadow: 0 2px 4px #fff;
  transition: 0.1s ease;
}
/* media query for mobile and bigger size */
@media (min-width: 320px) and (max-width: 767px){
.sign-up-form{
  width: 300px;
  height: 470px;
  margin: 20px auto;
padding: 5px;
}
.form-input{
  margin: 10px auto;
    padding: 2px auto;
    width: 270px;
    height: 18px;
  font-size: 15px;
}
}

/* media query for Ipad/tablet */
@media (min-width: 768px) and (max-width: 1024px){
  .sign-up-form{
    width: 500px;
    height: 470px;
    margin: 30px auto;
  padding: 7px;
  }
  .form-input{
    margin: 15px auto;
      padding: 4px auto;
      width: 350px;
      height: 24px;
    font-size: 15px;
  }
}
