.landing-section-container{
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  max-width: 100%;
  background: url('../img/images/bg-img.jpeg') no-repeat;
  background-size: cover;
}
.layout-welcome{
  font-size: 45px;
  font-family: 'Kiwi Maru', serif;
  color: #2af598;
  padding-top: 20px;
}
h6, p{
  color: #08b3e5;
  font-size: 18px;
}

.landing-pic {
  display: inline-block;
  flex-direction: column;
  color: hsl(180, 19%, 14%);
  margin: 15px;
  width: 450px;
  height: 560px;
  background: linear-gradient(
    90deg,
    rgba(9,76,89 0.3) 0%,
    rgba(9,76,89 0.7) 100%
  );
  border: 1px solid hsl(280, 18%, 97%);
  border-radius: 18px;
  box-shadow: 5px 8px rgba(9,76,89, 0.3);
}
.landing-img-bottom{
  margin: 20px auto;
  width: 440px;
  height: 500px;
  padding: 0.5vh;
  /* border: 1px solid #fff; */
  border-radius: 10px;
}