.form{
  margin: 8px auto;
}
.form-container {
  width: 750px;
  height: 770px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  color: #37b9f1;
  background: hsl(180, 27%, 18%);
  border-radius: 25px;
  padding: 10px;
  border: 1px solid hsl(198, 85%, 55%);
  font-weight: 300px;
}
.create-input {
  color: #fff;
  width: 350px;
  border-radius: 10px;
  height: 30px;
  margin: 20px auto;
  font-family: inherit;
  background: transparent;
  border: 2px solid #37b9f1;
}
.create-button{
  width: 135px;
  margin: 10px auto;
  border-radius: 25px;
  font-size: 25px;
  border: 1px solid #37b9f1;
  cursor: pointer;
}
.create-button:hover{
  color: #37b9f1;
}
/* media query for mobile and bigger size */
@media (min-width: 320px) and (max-width: 767px){
  .form-container {
    width: 320px;
    height: 470px;
    margin: 10px auto;
  }
  .create-input{
    width: 250px;
    border-radius: 10px;
    height: 30px;
    margin: 10px auto;
  }
  .create-button{
    width: 95px;
  margin: 5px auto;
  }
}

/* media query for Ipad/tablet */
@media (min-width: 768px) and (max-width: 1024px){
  .form-container {
    width: 550px;
    height: 670px;
    margin: 15px auto;
  }
  .create-input{
    width: 330px;
    height: 30px;
    margin: 15px auto;
  }
  .create-button{
    width: 105px;
  margin: 7px auto;
  }
}