
.tab-container{
  width:100%;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  padding-bottom: 40px;
  height: 30px;
}
.layout-links{
  color: #37b9f1;
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
  outline: none;
}

.logo{
  border-radius : 50%;
  width : 70px;
  height : 70px;
  display : flex;
  margin: 10px;
  padding : 10px;
  position:absolute;
  left:0;
  top:0;
}
.logo:hover {
  box-shadow: 5px 8px #37b9f1;
  box-shadow: 5px 5px #37b9f1;
}
/* media query for mobile and bigger size */
@media (min-width: 320px) and (max-width: 767px){
  .tab-container{
    margin: 5px auto;
    padding-bottom: 20px;
    height: 20px;
  }
  .layout-links{
    margin: 5px;
    font-size: 11px;
  }
  .logo{
    width : 35px;
    height : 35px;
    margin: 5px;
    padding : 5px;
    }
}
/* media query for Ipad/tablet */
@media (min-width: 768px) and (max-width: 1024px){
  .tab-container{
    margin: 8px auto;
    padding-bottom: 30px;
    height: 25px;
  }
  .layout-links{
    margin: 8px;
    font-size: 25px;
  }
  .logo{
    width : 55px;
    height : 55px;
    margin: 7px;
    padding : 7px;
    }
}
