* {
  margin : 0px;
  padding : 0px;
}

.logo{
  border-radius : 50%;
  width : 70px;
  height : 70px;
  display : flex;
  margin: 10px;
  padding : 10px;
  position:absolute;
  left:0;
  top:0;
}
.tab-container{
  float: right;
  list-style : none;
  margin-top: 30px;
}
.li {
  display: inline-block;
}
.tab-container  link{
  color: #fff;
}