.content {
  flex: 1;
}
footer {
  height: 360px;
  background-color: rgba(35, 39, 46, 1);
  padding: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  color: #fff;
  bottom: 0;
}
footer a {
  display: flex;
  font-size: 18px;
  text-decoration: none;
  flex-direction: row;
  color: #cbb26a;
  padding: 3px;
  letter-spacing: 3px;
}
.bottom-links{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin: 5px;
}