.content {
  flex: 1;
}
footer {
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: orange;
    padding: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    color: #fff;
    bottom: 0;
    left: 0;
}
.footer-sec{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
footer a {
  display: flex;
  font-size:28px;
  width: 35px;
  height: 35px;
  text-decoration: none;
  flex-direction: column;
  color: #000;
  padding: 3px;
  letter-spacing: 3px;
}
h5{
  color: #37b9f1;
}
.bottom-links{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin: 10px;
}
