body{
	color:#6a6f8c;
	background:#c8c8c8;
  font:600 16px/18px 'Open Sans',sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form{
  width: 650px;
  height: 450px;
  margin: 40px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #37b9f1;
  background: #f2f5f5;
  border-radius: 25px;
  padding: 10px;
  border: 1px solid #37b9f1;
  font-weight: 300px;
  background:url(../img/images/bg-img.jpeg) ;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.sign-in-input{
  display: block;
  box-sizing: border-box;
  margin: 20px auto;
  padding: 4px auto;
  width: 420px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
  background: transparent;
    border: none;
    border-bottom: 2px solid #37b9f1;
}
.sign-in-btn{
  width: 120px;
  padding: 7px;
  margin: 10px auto;
  background-color: tomato;
  border: none;
  outline: none;
  border-radius: 25px;
  font-family: 'Josefin Sans', sans-serif;
  color: #eee;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
}
.sign-in-btn:hover{
  color : #37b9f1;
  opacity: 0.8;
  box-shadow: 0 2px 4px #fff;
  transition: 0.1s ease;
}


