.detail-image-container{
  display: inline-block;
  flex-direction: column;
  color: hsl(198, 85%, 55%);
  margin: 15px auto;
  padding: 30px;
  width: 550px;
  height: 500px;
  border-radius: 18px;
  
}
.detail-pro-img{
  width: 550px;
  height: 500px;
  padding: 0.5vh;
  border: 1px solid lightblue;
  border-radius: 20px;
}
.detail-ptag{
  color: #000;
}
.detail-city{
  margin: 10px auto;
  padding: 10px auto;
}
.detail-button-container{
  display: flex;
  flex-direction: row;
  /* margin : 20px auto; */
  justify-content: center;
  align-items: center;
}
.detail-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  padding: 7px;
  margin: 10px auto;
  background-color: tomato;
  border: none;
  outline: none;
  border-radius: 25px;
  font-family: 'Josefin Sans', sans-serif;
  color: #eee;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
  cursor: pointer;
}
.detail-btn:hover{
  color : #37b9f1;
  opacity: 0.8;
  box-shadow: 0 2px 4px #fff;
  transition: 0.1s ease;
}

.ask-tour-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  padding: 7px;
  margin: 10px auto;
  background-color: tomato;
  border: none;
  outline: none;
  border-radius: 25px;
  font-family: 'Josefin Sans', sans-serif;
  color: #eee;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
  cursor: pointer;
}

/* media query for mobile and bigger size */
@media (min-width: 320px) and (max-width: 767px){
.detail-image-container{
  margin: 9px auto;
  padding: 15px;
  width: 250px;
  height: 200px;
}
.detail-pro-img{
  width: 270px;
  height: 250px;
  padding: 0.5vh;
}
.detail-btn, .ask-tour-button{
  width: 70px;
  padding: 4px;

}
}

/* media query for Ipad/tablet */
@media (min-width: 768px) and (max-width: 1024px){
  .detail-image-container{
    margin: 12px auto;
    padding: 15px;
    width: 450px;
    height: 400px;
  }
  .detail-pro-img{
    width: 400px;
    height: 270px;
    padding: 0.5vh;
  }
  .detail-btn, .ask-tour-button{
    width: 100px;
    padding: 6px;
  
  }
 
}